@model Blog1.Models.PagedList<Blog1.Models.PostViewModel>
<div class="text-center">
    <h4>@ViewBag.Header</h4>
</div>
<table class="table">  

@foreach (var item in Model.items) {
    <tr>
        <td> 
            @Html.Raw(item.Text)
            
            @Html.ActionLink("Details", "Details", new { id = item.Id })
        </td>
        <td class="text-center">
            @if (item.UserName.Equals(User.Identity.Name))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default" });
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new {@class = "btn btn-default"});
            }
        </td>
    </tr>
}
</table>
<br />
<div class="btn-group text-center">
    @Html.PageLinks(Model.pageInfo, Model.url)
</div>
