@model Blog1.Models.PagedList<Blog1.Models.PostViewModel>
<h4>@ViewBag.Header</h4>
<table class="table">  

@foreach (var item in Model.items) {    
    <tr>
        <td>
            @Html.ActionLink(item.Text, "Details", new { id = item.Id })
            
        </td>
        <td>
            @if (item.UserName.Equals(User.Identity.Name))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.Id });
                <span> | </span>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id });
            }
        </td>
    </tr>
}
</table>
<br />
<div class="btn-group">    

    @Html.PageLinks(Model.pageInfo, Model.url)
</div>
